fastapi
uvicorn[standard]
python-multipart
pandas
numpy
scikit-learn
lightgbm
shap
dice-ml
transformers
torch
joblib
groq
python-dotenv
pydantic
pydantic-settings
aiofiles
openpyxl
pytest
pytest-asyncio
httpx
supabase
python-jose[cryptography]
PyJWT[crypto]
sentence-transformers
langchain-text-splitters
pypdf2
python-docx
sse-starlette
